h1 {
    margin-bottom: 0;
}

nav a {
    font-size: large;
}

.nav-item:hover {
    color: white;
    background-color: #42545C;
}

.nav-item:active {
    background-color: black;
}

app-hero-search {
    margin-top: 10px;
}

nav img{
    width: 50px;
    height: 50px;
}
