<h1>{{title}}</h1>
<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <a routerLink="/" class="navbar-brand"><img src="https://i.redd.it/s74hqlfyejg31.jpg" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/heroes">Heroes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/newhero">Add Hero</a>
                </li>
            </ul>
            <app-hero-search class="d-flex"></app-hero-search>
        </div>
    </div>
</nav>
<div routerLink="/logs"><i class="ri-settings-3-line" ></i></div>
<router-outlet></router-outlet>